

<%= form_tag users_path,:method => "get",enforce_utf8: false  do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search",class: "btn btn-primary",:name => nil %>
<% end %>

<% @users.each do |user| %>
  <div class="card" style="width: 20rem;">
    <%= image_tag avatar_url(user), class: "card-img-top" %>
    <div class="card-body">
      <h4 class="card-title"><%= user.name %></h4>
      <%= link_to "プロフィールを見る",user_path(user),class: "btn btn-primary" %>
      <%#= link_to "フォローする","#",class: "btn btn-primary" %>
    </div>
  </div>
<% end %>